@import "src/styles/mixins/media";

.hero {
  padding-top: 105px;
  height: 500px;
  @include media(lg) {
    padding-top: 105px;
    height: 764px;
  }
  &::before {
    position: absolute;
    content: "";
    left: calc(-81px - (478.94px / 2));
    top: -59.84px;
    width: 478.94px;
    height: 496.86px;
    background: #d5aee4;
    opacity: 0.3;
    filter: blur(75px);
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../../public/images/hero-shape.svg");
    right: 0;
    top: -149px;
    width: 466.31px;
    height: 572.58px;
    background-repeat: round;
    display: none;
    z-index: -1;
    @include media(lg) {
      display: block;
      width: 766.31px;
      height: 872.58px;
      right: -141px;
    }
    @include media(xl) {
      width: 766.31px;
      height: 872.58px;
      right: 0;

    }
  }

  &__image-travel {
    position: absolute;
    top: 105px;
    left: calc(((100vw - 1320px) / 2) + 533px);
    right: auto;
    width: 765px;
    height: 764px;
    display: none;

    @include media(lg) {
      display: block;
    }
  }

  h1 {
    font-family: "Volkhov";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -0.04em;
    color: #181e4b;
    @include media(xxl) {
      font-size: 84px;
      line-height: 89px;
      margin-bottom: 30px;
    }
  }

  h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #df6951;

    @include media(xxl) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 24px;
    }
  }

  h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: #5e6282;

    @include media(xxl) {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 32px;
    }
  }

  .button-find {
    font-family: "Google Sans";
    padding: 18px 26px;
    background: #f1a501;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    border: none;
    transition: 0.4s box-shadow ease-out;
    margin-right: 28px;
    &:hover {
      box-shadow: 0px 15px 30px rgb(241, 165, 1, 0.3);
    }
  }

  .button-play {
    font-family: "Google Sans";
    background: #df6951;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    border-radius: 100%;
    font-weight: 500;
    width: 52px;
    height: 52px;
    border: none;
    transition: 0.4s box-shadow ease-out;
    margin-right: 20px;

    &:hover {
      box-shadow: 0px 15px 30px rgb(223, 105, 81, 0.3);
    }
  }

  .button-play-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #686d77;
    cursor: pointer;
  }
}
